/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home1 {
  height: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 70%);
}

.page2 {
  height: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 70%);
}
